<!DOCTYPE html>
<html>
<head>
<style>

body {
  background-color: whiteSmoke ;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #9CADAF;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  height: 100%;
}

.left {
  width: 20%;
  background: linear-gradient(to bottom, #d8d8d8 21%, #a1a1a1 97%);
  height : 700px;

}

.left h2 {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.left a {
  color: white;
  text-decoration: none;
}
.menu{
  margin-right:25%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.menu ul{
  list-style-type:none;
}

.basic{
  padding: 15% 0%;
  margin-left:15%;
  margin-right:45%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.basic_about{
  padding: 5% 0%;
  margin-left:5%;
  margin-right:10%;
  color: grey;
  font-family: Arial;
  color: DimGray;
}

.contact{
  padding:15% 0%;
  margin-left:20%;
  margin-right:35%;
  text-align: center;
  font-family: arial, Helvetica, sans-serif;
  color: DimGray;
}

.header{
  margin-left:3%;
  margin-right:60%;
  font-family: "arial light";
  color: #469088;
}

.image_back{
  position: absolute;
  bottom: 55px;
  margin-right:5%;
  margin-left:68%;
}

.basic h3 {
  color: darkgrey;
}
.basic h1 {
  color: DimGray ;
  font-family: "arial black";
}

.contact a {
  color: DimGray;
  text-decoration: none;
}

.right {
  width: 80%;
  background-color: white;
  height : 700px;
}


</style>
</head>
